[submodule "reactnd-contacts-app"]
	path = reactnd-contacts-app
	url = https://github.com/kcemenike/reactnd-contacts-app
[submodule "reactnd-contacts-server2"]
	path = reactnd-contacts-server2
	url = https://github.com/udacity/reactnd-contacts-server2
[submodule "reactnd-exercise1"]
	path = reactnd-exercise1
	url = https://github.com/kcemenike/reactnd-exercise1
[submodule "reactnd-exercise2"]
	path = reactnd-exercise2
	url = https://github.com/kcemenike/reactnd-exercise2
[submodule "reactnd-exercise-functional-components"]
	path = reactnd-exercise-functional-components
	url = https://github.com/kcemenike/reactnd-exercise-functional-components
[submodule "reactnd-managing-state-exercise"]
	path = reactnd-managing-state-exercise
	url = https://github.com/kcemenike/reactnd-managing-state-exercise.git
[submodule "reactnd-project-myreads"]
	path = reactnd-project-myreads
	url = https://github.com/kcemenike/reactnd-project-myreads
[submodule "react-redux-todo"]
	path = react-redux-todo
	url = https://github.com/kcemenike/react-redux-todo
[submodule "reactnd-project-would-you-rather-starter"]
	path = reactnd-project-would-you-rather-starter
	url = https://github.com/kcemenike/reactnd-project-would-you-rather-starter
